# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Logs
*.log
old/logs/
log/

# Testing
.pytest_cache/

# Environment and secret files
.env
*.env
*.ini
*.cfg
*.json

# IDE settings
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Collection of Websites that are being parsed
configs/filters.yaml
configs/types.yaml
configs/sites.yaml
configs/old.yaml

#integrations
/src/integrations/notion/database.py